<!DOCTYPE html>
<html>
<head>
	<title>Mee Dee Uh</title>
	<link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-controller="main" mdu-drop-target="addTrack" ng-class="{empty: tracks.length == 0}">
	<section class="tracks">
		<ul>
			<li ng-repeat="track in tracks" class="track" ng-class="{expanded: track.expanded}">
				<mdu-track steps="track.steps" src="track.src" expanded="track.expanded"></mdu-track>
			</li>
			<li class="track empty">
				<button class="add_track" ng-click="selectVideo()"></button>
				<input type="file" id="file_selector" style="opacity:0;width:0;height:0;" mdu-file-select="addTrack" />
			</li>
		</ul>
	</section>
	<mdu-transport></mdu-transport>
	<mdu-sequence-selector sequences="sequences" tracks="tracks" visible="false"></mdu-sequence-selector>
	<script type="text/javascript" src="bower_components/requirejs/require.js" data-main="main.js"></script>
</body>
</html>